<div>
    <table *ngIf="unprocessedFiles.length > 0" align="center">
        <tr>
            <th>File Name</th>
            <th>&nbsp;</th>
            <th>Delete File</th>
        </tr>
        <tr *ngFor="let files of unprocessedFiles; let i = index">
            <td>
                <mat-icon color="primary">file_copy</mat-icon>
                <a (click)="downloadFile(files.file, files.fileType)">{{files.fileName}}</a>
            </td>
            <th>&nbsp;</th>
            <th>
                <mat-icon class="red-icon" (click)="deleteTraining(files.fileId)">delete_outline</mat-icon>
            </th>
        </tr>
    </table>
    <h2 *ngIf="unprocessedFiles.length == 0">Please upload some training material for reference</h2>
</div>